.DS_Store
neat-python/examples/**/*.csv
neat-python/examples/**/*.gv
neat-python/examples/**/*.svg
neat-python/examples/**/winner*
neat-python/examples/**/neat-checkpoint-*
*.csv
*.gv
*.svg
**/*.csv
**/*.gv
**/*.svg
neat-checkpoint-*
**/__pycache__/
